{% extends "main/base.html" %}
{% load static %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock head_css %}

{% block content %}
    <div class="jump banner">
        <a href="#new_section">
            <svg id="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
        </a>
    </div>
    
    <model-viewer class="img-fluid float-right" loading="eager" poster="static/resources/background_earth.png" src="static/resources/EcotrackerReal.glb" id="earth" auto-rotate auto-rotate-delay="2325" camera-shadow-intensity="1.5" camera-orbit="90deg 85deg 75%">
    </model-viewer>

    <section id="new_section">
        <div class="intro px-4 pt-5 my-5 text-center">
            <h1 class="display-4 fw-bold">Welcome to Ecotracker!</h1>
            <div class="col-lg-8 mx-auto">
            <p class="lead">Use our website to help track your vehicle's fuel consumption, understand more about climate change, and help better our world!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Get Started</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Vehicle Info</button>
            </div>
            </div>
            <div class="overflow-hidden" style="max-height: 40vh;">
            <div class="container px-5">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer_javascript %}
{% endblock footer_javascript %}