{% extends "main/base.html" %}
{% load static %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'css/tracker.css' %}" rel="stylesheet" type="text/css">
{% endblock head_css %}

{% block navbar %}
    <a class="nav-link first" aria-current="page" href="/">Home</a>
    <a class="nav-link active second" href="/tracker">Tracker</a>
    <a class="nav-link third" href="/vehicle">Vehicle Info</a>
    <a class="nav-link fourth" href="/whatcanido">What Can I Do</a>
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
  </head>
  <body>
    <div class = "container">
    <input id='start'/>
    <br> <br>
    <input id='end'/>
    <div id='map'></div>
      <select id='routeOption'>
        <option value = '1'>Route 1</option>
        <option value = '2'>Route 2</option>
      </select>

      <select id='car_type'>
        <option value = 'Hatchback/Sedan'>Hatchback/Sedan</option>
        <option value = 'Coupe'>Coupe</option>
        <option value = 'Sports Car'>Sports Car</option>
        <option value = 'Minivan/SUV'>Minivan/SUV</option>
        <option value = 'Van'>Van</option>
        <option value = 'Pickup Truck'>Pickup Truck</option>
        <option value = 'Crossover'>Crossover</option>
      </select>
    </div>
    <div id='impact'>
      <a id='x'></a>
    </div>
    <div id='coal'></div>
    <div id='smartphones'></div>
    <div id='home'></div>
    


{% endblock %}

{% block footer_javascript %}
    <script src="../static/js/test.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk0KjJLF2X4ng7kEbBB7YxtZFbNy8kz-k&callback=initMap&libraries=places&v=weekly"
    async
  ></script>
{% endblock footer_javascript %}

    
