@font-face {
    font-family: 'MyWebFont';
    src: url('../resources/bold.otf');
  }

html{
    height: 100%;
}

body{
    background-color: #B8acd8;
    background-blend-mode: screen;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'MyWebFont';
}

p{
    font-family: 'kayak';
}

.intro{
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#earth{
    width: 100vw;
    height: 80vw;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 124%;
    z-index: -1;
    --poster-color: transparent;
  
    animation: fadeEarth 2.25s;
    -webkit-animation: fadeEarth 2.25s;
    -moz-animation: fadeEarth 2.25s;
    -o-animation: fadeEarth 2.25s;
    -ms-animation: fadeEarth 2.25s;
  }
  @keyframes fadeEarth {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }


#jump{
height: 100vh;
background-color: #63759c;
}

#arrow{
transform: translate(-50%, -50%);
width: 3vw;
height: 2vw;
color: black;

animation: arrow 2.25s;
-webkit-animation: fade 2.25s;
-moz-animation: fade 2.25s;
-o-animation: fade 2.25s;
-ms-animation: fade 2.25s;
}
@keyframes fade {
0% {opacity:0;}
50% {opacity:0;}
100% {opacity:1;}

}

.jump {
    position: absolute;
    top: 94.5%;
    left: 50%;
    animation: arrow 2s linear infinite;
}
@keyframes arrow{
0%{
    transform: translateY(-5px);
}
50%{
    transform: translateY(5px);
}
100%{
    transform: translateY(-5px);
}
}

.section{
    height: 100vh;
}

#below{
    width: 100vw;
    height: 80vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 124%;
}

img{
    opacity: 85%;
}