body{
    background-color:#FEE3A2;
}

#map{
    height: 30vw;
    width: 50vw;
    position: absolute;
    margin-left: 3%;
    margin-right: 50%;
    top: 25vw;
    left: 62.5vw;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}

.form-control{
    height: auto;
    width: 10vw;
}

.form-select{
    height: auto;
    width: 10vw;    
}

.container{
    background-color: rgb(104, 232, 134);
    padding: 1%;
    position: absolute;
    margin-left: 10%;
    margin-top: 0.1%;
    top: 25vw;
    left: 40%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
