/* .slideshow{
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
body{
    background-color: rgb(237, 150, 150);
}

#carouselExampleIndicators{
    height: 60%;
    width: 70%;
    position: absolute;
    top: 20%;
    margin-left: 15%;
    margin-bottom: 10%;
    border-width: 12%;

}


#model{
    border: black solid 4px;
    margin: 10%;
    width: 30%;
    height: 100px; 
    position: absolute;
    top: 10%;
}


.card{
    margin-left: 60%;
    position: absolute;
    top: 10%;
    margin-right: 20%;

}

.card-body{
    height: 70%;

}