@font-face {
    font-family: 'MyWebFont';
    src: url('../resources/bold.otf');
  }
  
@font-face {
  font-family: 'kayak';
  src: url('../resources/Kayak Sans Light.otf');
}

h1{
    font-family: 'MyWebFont';
}

.p1{
    size: +7;
}

.section{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }

#section{
    background-color: grey;
}