@font-face {
    font-family: 'MyWebFont';
    src: url('../resources/bold.otf');
  }
  
@font-face {
  font-family: 'kayak';
  src: url('../resources/Kayak Sans Light.otf');
}

h1{
    font-family: 'MyWebFont';
}

.p1{
    size: +7;
}

model-viewer{
    width: 50vw;
    height: 80vw;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 124%;
    z-index: -1;
    overflow: hidden;
    --poster-color: transparent;
}

.section{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }

#section_1{
}

strong{
    font-weight: 100;
}

font{
    font-family: 'MyWebFont';
}